.country{
/* display: flex; */
border: 1px solid rgb(3, 66, 3);
width: auto;
height: auto;
margin: 15px;
padding-top: 13px;
background-color: rgba(217, 184, 184, 0.82);
/* width: 25%; */
overflow: hidden;

}
.world-tour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}